@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    margin: 0;
    background-color: #0f172a;
    font-family: Arial, sans-serif;
    color: white;
    animation: fadeIn 1.2s ease-in;
}


.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
}

.tagline {
    font-size: 18px;
    color: #94a3b8;
    margin-bottom: 30px;
}

button {
    padding: 12px 25px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.secondary {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
@media (max-width: 600px) {
    h1 {
        font-size: 32px;
        text-align: center;
    }

    .tagline {
        font-size: 14px;
        text-align: center;
    }

    button {
        width: 80%;
        font-size: 14px;
    }
}

